<div section="campaignDetailsPage" ng-show="pageReady == true">
    <div class="topBar row">

        <div class="col-md-6 col-md-offset-2">

            <h1> {{selectedCampaign.campaign_title}} </h1>
            <h2> {{translations.common.package_limit}} </h2>
            <h2> {{selectedPackage.spend_limit}} </h2>


        </div>
        <div class="col-md-2">
            <img class="img img-circle" src="static/images/System_Admin/Packages/{{selectedPackage.image_name}}">
        </div>

    </div>
    <div class="uploadPanel row">
        <div class="panelPlaceHolder col-md-8 col-md-offset-4">
            <div id="test{{$index}}" style="margin-bottom : 20px" ng-class="{ 'col-md-offset-1' : $index == '3'}" class="col-md-3 size_element_section" ng-repeat="imageSize in packagesSizes.default">
                <div class="btn-group" role="group" aria-label="...">
                    <button ng-click="fakeInputClick($index)" class="btn btn-primary btn-lg new_Btn">
                        <span class="glyphicon glyphicon-upload"> {{imageSize.width}} X  {{imageSize.height}} </span>
                        <input id="html_btn_{{$index}}" style="display : none" type="file" class="form-control" ng-file-select="onCampaignMainImageSelect($files , imageSize.width , imageSize.height , imageSize.type , selectedPackage.resources[imageSize.type])">
                    </button>
                    <!--button  ng-if="selectedPackage.resources[imageSize.type].id > 0" data-placement="right"  class="btn btn-lg btn-danger"
                             data-content='<img class="img img-circle resourceImage" src="static/images/{{selectedCampaign.company_id}}/{{selectedCampaign.id}}/{{selectedPackage.id}}/{{imageSize.type}}/{{selectedPackage.resources[imageSize.type].title}}">' data-template="partials/management/templates/popover_resource.html"
                             data-animation="am-flip-x" data-auto-close="1" bs-popover="testPopover">Show Image

                    </button-->
                    <button  data-content='<img class="img img-circle resourceImage" src="static/images/{{selectedCampaign.company_id}}/{{selectedCampaign.id}}/{{selectedPackage.id}}/{{imageSize.type}}/{{selectedPackage.resources[imageSize.type].title}}">' ng-if="selectedPackage.resources[imageSize.type].id > 0" type="button" class="btn btn-lg btn-default" data-placement="top" trigger="click" data-animation="am-flip-x" bs-popover="testPopover">
                        <span class="glyphicon glyphicon-eye-open"> </span>
                    </button>

                </div>

                <!--img class="img img-circle" src="static/images/{{selectedCampaign.company_id}}/{{selectedCampaign.id}}/{{selectedPackage.id}}/{{imageSize.type}}/{{selectedPackage.resources[imageSize.type].title}}"-->
            </div>

        </div>

    </div>


</div>
